<!DOCTYPE html>
<html lang="en">
<head>
    
<title>Start</title>
<style>

body{
    background-size: 100%;
    background-position: center;
    background-image: url( "{{url_for('static', filename='bg.jpg')}}" );
    margin-top: 45%;

}
#BT{
    padding: 10px;
    width: 150px;
    height: 50px;
    border: solid black 2px;
    border-radius: 10px;

    }
#BT:hover{
    background-color: rgba(245, 146, 230, 0.718);
}

.start{
    position: fixed;
    bottom: 20%;
    left: 46%;

}

</style>

</head>


<body>
    <div class="start">
        <a href="/main"> <span>
        <input type ="submit" value="START" class="button" id="BT"
        > </span> </a>
    </div>



</body>
</html>